@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  margin: 0;
  font-family: "Abril Fatface";
  font-size: 16px;
  line-height: 1.5;
}

.container {
  color: white;
  background-image: url(./wallpaper/papel1.jpg);
  background-size: cover;
  animation: bg-animation 10s infinite;
  margin: 0 auto;
  padding: 0 40px;
}
@keyframes bg-animation {
  40% {
    background-image: url("./wallpaper/papel2.webp");
  }
  60% {
    background-image: url("./wallpaper/papel3.jpg");
  }
  80% {
    background-image: url("./wallpaper/papel4.jpg");
  }
  100% {
    background-image: url("./wallpaper/p5.jpg");

    background-position: center;
    background-size: cover;
  }
}

.home {
  font-size: 25px;
}

.header {
  background: linear-gradient(to left top, white, black);
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  padding: 20px;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.content {
  padding: 116px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1px;
}

.card > img {
  border: 2px solid white;
}

.card {
  margin-bottom: 20px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.05);
}

.footer1 {
  background: linear-gradient(to right bottom, white, black);
}

.icone,
.img-icone {
  margin-top: 1px;
  padding: 10px;
  text-align: center;
}

.img-icone {
  margin-right: 50px;
}

.logo {
  margin-left: 40px;
  margin-top: 20px;
}

.img-icone:hover {
  transform: scale(1.1);
}
.logo:hover {
  transform: scale(1.05);
}
